<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio de Desenvolvedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Meu Portfólio</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre Mim</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Sobre Mim</h2>

            <p>Me chamo Samuel, sou um desenvolvedor iniciante de 20 anos, atualmente cursando Ciência da Computação. Tenho uma paixão por tecnologia e estou sempre em busca de novos desafios para aprimorar minhas habilidades. Possuo experiência em linguagens como Python, JavaScript e Java, e estou focado em criar soluções criativas e eficientes no desenvolvimento de software. Estou empolgado para aplicar meus conhecimentos em projetos reais e continuar aprendendo e evoluindo na minha carreira.</p>
        </section>
        <section>
            <h2>Projetos</h2>

            <ul class="project-list">
                <li>
                    <h3>Projeto 1</h3>

                    <p>No primeiro semetre da faculdade eu e um grupo desenvolvemos um projeto de carro inteligente que tinha como principal atividade eexcutar missões de resgates em terrenos de dificil acesso. Esse carro era equipado com sensores de som, terrono, pitoloto automatico e pilotagem remota, por sermos do primeiro semestre implementamos essa ideia em pequeno carro de controle remoto.</p>
                </li>
                <li>
                    <h3>Projeto 2</h3>
                    <p>No terceiro semestre eu e um grupo desenvolvemos o prototipo de uma estuva autonoma que era equipada com diversos sensores para medição de humidade e temperatura, além de ter um cronometro a qual era programado para irrigar as plantas se hora em hora.</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Contato</h2>

            <p>Você pode me contatar pelo e-mail: samue.samuel804@gmail.com</p>
            <p>Você pode me contatar pelo numero: (19) 983951006</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Meu Portfólio</p>
    </footer>
</body>
</html>
